language: r
cache: 
  packages: true
r:
  - release

warnings_are_errors: false
before_deploy: Rscript -e "install.packages(c('devtools'))" && Rscript -e "library('devtools')" -e "devtools::build(binary = TRUE, args = c('--preclean'))" && Rscript -e 'remotes::install_cran("pkgdown")' && Rscript -e "devtools::document()" -e "pkgdown::build_site()"
deploy:
  provider: script
  script: Rscript -e 'pkgdown::deploy_site_github()'
  skip_cleanup: true
